* {
    font-family: 'Gill Sans', sans-serif;
}

/* NAVBAR */
.navbar {
    transition: all 0.0s !important;
    padding: 0 !important;
    height: 100px;
}

.nonAttivo {
	color: rgba(255,255,255,0.5) ;
}

.iconaNonAttiva {
	opacity: 0.5 ;
}

.iconaNonAttiva:hover {
	opacity: 1 ;
}

.navbar-nav {
    align-items: center;
    gap: 20px;
}
.nav-link {
    margin: 0;
    font-size: 16px;
}

.icon-link {
    text-decoration: none;
    font-size: 16px;
    padding: 8px;
}

.nonAttivo:hover {
    color: white !important;
}

.active {
	color: white;
	text-decoration: underline !important;
}

.navbar-scrolled {
    background-color: RGBA(23,75,133,0.4);
}

@media (max-width: 992px) {
    .navbar-nav .nav-item {
        display: block;
        margin: 10px 0;
    }
    .navbar-nav .dropdown-menu {
       background-color: transparent !important; 
       box-shadow: none !important; 
    }
    .navbar-scrolled {
 		box-shadow: none;
	}
	.navbar-toggler {
		z-index: 1;
		background-color: RGBA(10,42,54,0.65) !important;
		margin-right: 20px !important;
	} 
	.cart-basket {
		position: absolute;
	    top: 370px !important;
	    right: 330px !important;
	}
	.listaIcone {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	
	.iconaCompressa {
		color: RGBA(10,42,54,0.65)!important;
	}
	
	.show {
		width: 100% !important;
		padding-right: 0 !important;
		
	} 
}

.cart-basket {
    position: absolute;
    top: 15px;
    right: 25px;
    width: 14px;
    height: 14px;
    color: #fff;
    border-radius: 50%;
    font-size: 10px;
}


/* HOMEPAGE */
.imgHome, .imgBio {
    border: none !important;
    background-color: white !important;
    width: 100% !important;
    overflow: hidden;
}

.imgHome {
	background-color: #174B85;
	
}

.centered {
    position: absolute !important;
    top: 25% !important;
    left: 5% !important;
    padding: 0 !important;
  }
  
  .soLong {
  	font-style: italic;
  }

.immagineAlto {
	height: 100%;
	width: 100%;
	object-fit: cover;
	
}

.testoImgHome {
	text-align: justify;
	margin-left: 7px;
	font-size: 18px;
	margin-bottom: 5px;
}

.btnImgHome {
	margin-left: 7px;
	width: 200px;
	height: 50px;
	padding: 5px !important;
	font-size: 18px !important;
	margin-top: 25px !important;
	
}

.btnImgBio {
	margin-left: 7px;
	padding: 5px !important;
	font-size: 18px !important;
	margin-top: 5px !important;
}

.card-text {
    font-size: 40px;
    margin-left: 7px;
    margin-bottom: -15px;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.titoloPagina {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-style: italic;
}

.titoloPagina h4 {
	 font-size: 40px !important;
	 color: #174B85;
}

.catalogoHome {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.albumHomePage {
	margin-left: 100px !important;
	margin-right: 100px !important;
}

.card {
    border: none;
}

h5.prodotti {
    color: #174B85;
    margin-bottom: 0;
    font-size: 15px;
}

.prezzo {
    margin: 0;
    color: #1E84A8;
    font-size: 15px;
}

.tipologia {
	color: RGBA(10,42,54,0.65)!important;
	margin-left: 0;
	margin-bottom: 2px;
	font-size: 12px;
}

.cardHover {
	overflow: hidden;
	border: none !important;
}

.card-img-top {
   width: 100%;
   height: 100%;
   object-fit: cover; 
   aspect-ratio: 1 / 1;

}

.card-body {
	display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}



.bottoniHome {
	display: flex;
	align-content: end;
	gap: 10px;
	margin-top: 5px;
	
	color: #0A2A36 !important;
}

.bottoniHome a {
	padding: 0 !important; 
}


.btnHome {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #174B85;
    border-radius: 5px;
}



.custom-bg {
    background-color: #f0f0f0; 
    padding: 20px;
    margin-top: 50px;
}

.custom-img {
    max-width: 100%; 
    height: auto; 
}

.galleryHome {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}



/* FOOTER */
.bgFooterHome {
    background-color: #174B85;
}

.text-white {
    text-decoration: none;
}

.divFooter {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* LOGIN */
.divImgLogin {
    border: none !important;
    background-color: rgb(23, 75, 133) !important;
    width: 100%;
    height: 210px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
    
}

.titoloPagLogin {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    font-style: italic;

}

.titoloPagLogin h4 {
	 font-size: 40px !important;
}


.btnLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.formLogin {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 400px;
    margin-bottom: 40px;
    
}

.formRegistrati {
    margin-left: 300px !important;
    margin-right: 300px !important;
    margin-top: 30px;
    margin-bottom: 40px;
   
}



.btnRegistrati {
    margin-top: 40px;  
    margin-top: 20px;
    margin-top: 10px;
    background-color: rgb(23, 75, 133) !important;
}

.btnRegistrati:hover {
    background-color: rgb(6, 46, 88) !important;
    
}




.btn-block {
    width: 100%;
}

.registrati {
    
    text-decoration: none;
    margin-top: 40px;
    font-size: small;
    
}

.accedi {
    font-size: small;
    text-decoration: none;
    margin-top: 15px;

}

.form-group.has-error input {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}


/* CARRELLO */
.divImgCarrello {
    border: none !important;
    background-color: white !important;
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: start;
}


.imgCarrello {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titoloCarrello {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.rowTabella {
    margin-left: 20px !important;
    margin-top: 10px !important;
    justify-content: center;
    align-items: center;
}

.img-thumbnail {
    width: 100px;
    height: 100px;
}

.colTitoloPrezzoCarrello h5, .colTitoloPrezzoCarrello p {
    margin-bottom: 0;
}

.colTitoloPrezzoCarrello p {
    font: 12px !important;
    margin-top: 5px;
}

.colQuantitaCarrello p {
    margin-bottom: 0;
}

.cestinoCarrello {
    background-color: white !important;
    border: 2px solid transparent;
}
.cestinoCarrello:hover {
    color: black !important;
    border: 2px solid black;
    
}

.rowIndirizzo {
    margin-left: 20px !important;
    margin-top: 20px !important;
    justify-content: center;
    align-items: center;
}

.colonnaPagamento {
    background-color: rgba(137, 180, 233, 0.4);
    padding: 20px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.payPal {
    width: 50%;
    height: auto;
    margin: 30px;
}

.totalePagamento {
    margin-bottom: 0 !important;
}

.dettSpedizione {
    justify-content: center;
    text-align: center;
    font-size: small;
}

.btnPayPal {
    margin-top: 10px;
}

.btnPayPal:hover {
    background-color: white !important;
    color: black !important;
}

.custom-alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.custom-alert p {
    margin: 0;
}

.custom-alert .close {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 20px;
    cursor: pointer;
}

#confirm {
      display: none;
      background-color: #f0f0f0;
      position: fixed;

      top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
      padding: 50px;
      text-align: center;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
   }

#confirmLog {
      display: none;
      background-color: #f0f0f0;
      position: fixed;

      top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
      padding: 50px;
      text-align: center;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
   }

   .close {
      display: flex;
      position: absolute;
      right: 30px;
      bottom: 20px;
      gap: 5px;
   }
   
.btnPopUp {
    margin-top: 10px;
}

.btnPopUp:hover {
    background-color: white !important;
    color: black !important;
}


/*CATALOGO*/
 .anniCarriera {
  	font-style: italic;
  }

.cardalbum-text {
	font-size: 30px;
	margin: 0;
}

.testoCentrato {
    position: absolute !important;
    top: 40% !important;
    left: 35% !important;
    padding: 0 !important;
  }

h5.cardCatalogo {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
}

p.cardCatalogo {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
}

.cardHover {
	overflow: hidden;
}

.cardalbum-img-top {
   width: 100%;
   height: auto;
   object-fit: cover; 
   aspect-ratio: 1 / 1;

}

.cardalbum-body {
	display: flex;
    flex-direction: column;
    padding: 15px;
    margin-top: auto;
 
}
.cardalbum {
 	border: 1px solid #ddd;
    border-radius: 8px;
    
 }
 
 .btnFiltri {
    background-color: white !important;
    border: 1px solid #174B85 !important;
    color: #174B85 !important;
}

 .catalogo-album {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.bottoniCat {
	display: flex;
	align-content: end;
	margin-top: 10px !important;
	gap: 5px;
}


.divImgCatalogo {
    border: none !important;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}



.imgCatalogo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.txtCard {
	text-decoration: none;
}



/* BIO */
.divBio {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    justify-content: center;
    margin: 0;
    padding: 0; 
}   

.descrizioneBio {
    text-align: center;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paragrafoBio p {
    margin-bottom: 0;
    padding-bottom: 0;
}

.paragrafoBio {
    text-align: justify;
    padding: 20px; 
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 40px;
    margin-right: 40px;
}

.immagine {
    width: 33.33%;
    height: auto;
}

.immagineBio {
	width: 80%;
	height: auto;
	
}



.divImgBio {
    border: none !important;
    background-color: white !important;
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: start;
}

.imgBio {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}


/* PERSONALE */
.btnPersonale {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.titoloPersonale {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px !important;
}

.titoloOrdini {
    display: flex;
    align-items: center;
    margin-top: 20px !important;
}

.logOutIcon {
    text-align: right;
    color: black;
}

.logOutIcon:hover {
    color: #f0f0f0;
}

.formDati {
    margin-top: 10px;
    
}

.colTitoloCarrello p, .colDataCarrello p, .colQuantitaCarrello p, .colPrezzoCarrello p  {
    margin-bottom: 0;
}

.colTitoloPrezzoCarrello p {
    font: 12px !important;
    margin-top: 5px;
}

.rowOrdini {
    margin-top: 10px !important;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.popupModifica {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

 

.lenteOrdini {
    background-color: white !important;
    border: 2px solid transparent;
    font-size: 12px !important;
}
.lenteOrdini:hover {
    color: black !important;
    border: 2px solid black;
    
}

/*DETTAGLIO*/
.tornaCatalogo {
	margin-left: 30px;
	text-decoration: none;
	color: black;
}

.tornaCatalogo:hover {
	color: #f0f0f0;
}
/*IMMAGINE DETTAGLIO*/
.divImgDettaglio {
    border: none !important;
    background-color: white !important;
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content:space-between;
    align-items:flex-start;
}

 .testoDettaglioHero {
  	font-style: italic;
  	font-weight: bold;
  }


.imgDettaglio {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.testoImgDettaglioHero {
	text-align: justify;
	margin-left: 7px;
	font-size: 18px;
	margin-bottom: 5px;
}

.pHero {
	font-size: 25px;
}

.descrizioneDettaglioHero {
	text-align: justify;
	margin-left: 7px;
	font-size: 15px;
	margin-bottom: 5px;
}

.txtHeroOver {
    position: absolute !important;
    top: 20% !important;
    left: 7% !important;
    padding: 0 !important;
  }
  
.txtHeroOver p {
	margin-bottom: 0 !important;
}

/*TITOLO DETTAGLIO*/
.titoloDettaglioHome {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
   
}
/*Brani dettaglio*/
.BraniDettaglio{
    text-size-adjust: .1;
}

.verde{
    color: green;
}

.rosso{
    color: red;
}

.imgHeroDettaglio {
    border: none !important;
    width: 100% !important;
    overflow: hidden;
    background-color: #174B85 !important;
    height: 507px !important;
    justify-content: center;
    align-items: center;
}

.imgDettaglioAlbum {
   width: 100% !important;
   height: auto !important;
   object-fit: cover; 
   opacity: 0.4 !important;

}

.btnImgDettaglio {
	margin-left: 7px;
	width: 300px;
	height: 40px;
	padding: 5px !important;
	font-size: 18px !important;
	margin-top: 20px !important;
	justify-content: center;
	align-items: center;
	
	
}

.tabellaDettaglio {
	color: #174B85 !important;
}

