* {
    font-family: 'Noto Sans', sans-serif;
}

/* NAVBAR */
.navbar {
    transition: all 0.0s !important;
    padding: 0 !important;
}

.navbar-nav {
    align-items: center;
    gap: 20px;
}
.nav-link {
    margin: 0;
    font-size: 16px;
}



.icon-link {
    text-decoration: none;
    font-size: 16px;
    padding: 8px;
}

.nav-link:hover, .icon-link:hover {
    color: white !important;
}

.navbar-scrolled {
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

@media (max-width: 992px) {
    
    .navbar-nav .nav-item {
        display: block;
        margin: 10px 0;
    }
    
 
    .navbar-nav .dropdown-menu {
       background-color: transparent !important; 
       box-shadow: none !important; 
    }
    .navbar-scrolled {
 		box-shadow: none;
	}
	
	.elementiNav {
		padding-right: 20px !important;
	}
	
	.navbar-toggler {
	
		background-color:  rgba(0, 0, 0, 0.85) !important;
	} 
	
	
	.cart-basket {
	 position: absolute;
    top: 370px !important;
    right: 330px !important;
	}
	
	.listaIcone {
		list-style-type: none;
		margin: 0;
		padding: 0;
		
		
	}
	
	.iconaCompressa {
		color: black !important;
	}
}

.cart-basket {
    position: absolute;
    top: 15px;
    right: 25px;
    width: 14px;
    height: 14px;
    color: #fff;
    background-color: #418deb;
    border-radius: 50%;
    font-size: 10px;
}






/* HOMEPAGE */
.imgHome {
    border: none !important;
    background-color: white !important;
}

.centered {
    position: absolute !important;
    top: 25% !important;
    left: 60% !important;
  }

.card-text {
    font-size: 30px;
    margin: 0;
}
.card-title {
    margin: 0;
    font-family: 'Parisienne', cursive;
    font-size: 100px;
}

.card-title, .card-text {
	margin-top: auto; 
        overflow: hidden; 
        text-overflow: ellipsis;
}

@media (max-width: 800px) {
    .card-title {
        font-size: 70px; 
    }
}

@media (max-width: 600px) {
    .card-title {
        font-size: 50px; 
    }
}

.titoloCatalogoHome {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.catalogoHome {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

@media (min-width: 768px) {
    .catalogoHome {
        height: 700px !important;
    }
}

.card {
    border: none;
}

h5.prodotti {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
}

p.prodotti {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
}

.cardHover {
	overflow: hidden;
}

.card-img-top {
   width: 100%;
   height: auto;
   object-fit: cover; 
   aspect-ratio: 1 / 1;

}

.card-body {
	display: flex;
        flex-direction: column;
        height: 100%;
}

a.cardHover:link {
    color: black;
    text-decoration: none;
}

a.cardHover:visited {
    color: black;
    text-decoration: none;
}



.bottoniHome {
	display: flex;
	align-content: end;
	margin-top: 10px;
	gap: 5px;
}

.btnCatHome {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.custom-bg {
    background-color: #f0f0f0; 
    padding: 20px;
    margin-top: 50px;
}

.custom-img {
    max-width: 100%; 
    height: auto; 
}

.btnBioHome {
    margin-top: 10px;
}

.btnBioHome:hover {
    background-color: white !important;
    color: black !important;
}

.galleryHome {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* FOOTER */
.bgFooterHome {
    background-color: black;
}

.text-white {
    text-decoration: none;
}

.divFooter {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* LOGIN */
.divImgLogin {
    border: none !important;
    background-color: white !important;
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: start;
}

@media (max-width: 560px) {
    .divImgLogin {
        height: 200px !important;
    }
}

@media (max-width: 350px) {
    .divImgLogin {
        height: 100px !important;
    }
}

.imgLogin {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titoloPagLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.formLogin {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    
}

.btnLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* CARRELLO */
.divImgCarrello {
    border: none !important;
    background-color: white !important;
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: start;
}

@media (max-width: 560px) {
    .divImgCarrello {
        height: 200px !important;
    }
}

@media (max-width: 350px) {
    .divImgCarrello {
        height: 100px !important;
    }
}

.imgCarrello {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titoloCarrello {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.rowTabella {
    margin-left: 20px !important;
    margin-top: 10px !important;
    justify-content: center;
    align-items: center;
}

.img-thumbnail {
    width: 100px;
    height: 100px;
}

.colTitoloPrezzoCarrello h5, .colTitoloPrezzoCarrello p {
    margin-bottom: 0;
}

.colTitoloPrezzoCarrello p {
    font: 12px !important;
    margin-top: 5px;
}

.colQuantitaCarrello p {
    margin-bottom: 0;
}

.cestinoCarrello {
    background-color: white !important;
    border: 2px solid transparent;
}
.cestinoCarrello:hover {
    color: black !important;
    border: 2px solid black;
    
}

.rowIndirizzo {
    margin-left: 20px !important;
    margin-top: 20px !important;
    justify-content: center;
    align-items: center;
}

.colonnaPagamento {
    background-color: #f0f0f0;
    padding: 20px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.payPal {
    width: 50%;
    height: auto;
    margin: 30px;
}

.totalePagamento {
    margin-bottom: 0 !important;
}

.btnPayPal {
    margin-top: 10px;
}

.btnPayPal:hover {
    background-color: white !important;
    color: black !important;
}

.custom-alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.custom-alert p {
    margin: 0;
}

.custom-alert .close {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 20px;
    cursor: pointer;
}

#confirm {
      display: none;
      background-color: #f0f0f0;
      position: fixed;

      top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
      padding: 50px;
      text-align: center;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
   }

   .close {
      display: flex;
      position: absolute;
      right: 30px;
      bottom: 20px;
      gap: 5px;
   }
   
.btnPopUp {
    margin-top: 10px;
}

.btnPopUp:hover {
    background-color: white !important;
    color: black !important;
}


/*CATALOGO*/
.tornaHomepage {
	margin-left: 30px;
	text-decoration: none;
	color: black;
}

.tornaHomepage:hover {
	color: #f0f0f0;
}

.cardalbum-text {
	font-size: 30px;
	margin: 0;
}

h5.cardCatalogo {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
}

p.cardCatalogo {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
}

.cardHover {
	overflow: hidden;
}

.cardalbum-img-top {
   width: 100%;
   height: auto;
   object-fit: cover; 
   aspect-ratio: 1 / 1;

}

.cardalbum-body {
	display: flex;
    flex-direction: column;
    padding: 15px;
    margin-top: auto;
 
	
  
}
.cardalbum {
 	border: 1px solid #ddd;
    border-radius: 8px;
    
 }
 
 .catalogo-album {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.bottoniCat {
	display: flex;
	align-content: end;
	margin-top: 10px !important;
	gap: 5px;
}


.divImgCatalogo {
    border: none !important;
    background-color: white !important;
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 560px) {
    .divImgCatalogo {
        height: 200px !important;
    }
}
@media (max-width: 350px) {
    .divImgCatalogo {
        height: 100px !important;
    }
}
.imgCatalogo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.txtCard {
	text-decoration: none;
}




/* BIO */
.divBio {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    justify-content: center;
    margin: 0;
    padding: 0; 
}   

.descrizioneBio {
    text-align: center;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paragrafoBio p {
    margin-bottom: 0;
    padding-bottom: 0;
}

.paragrafoBio {
    text-align: justify;
    padding: 20px; 
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 40px;
    margin-right: 40px;
}

.immagine {
    width: 33.33%;
    height: auto;
}

.divImgBio {
    border: none !important;
    background-color: white !important;
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: start;
}
@media (max-width: 560px) {
    .divImgBio {
        height: 200px !important;
    }
}
@media (max-width: 350px) {
    .divImgBio {
        height: 100px !important;
    }
}
.imgBio {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* PERSONALE */
.btnPersonale {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.titoloPersonale {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px !important;
}

.titoloOrdini {
    display: flex;
    align-items: center;
    margin-top: 20px !important;
}

.logOutIcon {
    text-align: right;
    color: black;
}

.logOutIcon:hover {
    color: #f0f0f0;
}

.formDati {
    margin-top: 10px;
    
}

.colTitoloCarrello p, .colDataCarrello p, .colQuantitaCarrello p, .colPrezzoCarrello p  {
    margin-bottom: 0;
}

.colTitoloPrezzoCarrello p {
    font: 12px !important;
    margin-top: 5px;
}

.rowOrdini {
    margin-top: 10px !important;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.lenteOrdini {
    background-color: white !important;
    border: 2px solid transparent;
    font-size: 12px !important;
}
.lenteOrdini:hover {
    color: black !important;
    border: 2px solid black;
    
}

/*DETTAGLIO*/
.tornaCatalogo {
	margin-left: 30px;
	text-decoration: none;
	color: black;
}

.tornaCatalogo:hover {
	color: #f0f0f0;
}
/*IMMAGINE DETTAGLIO*/
.divImgDettaglio {
    border: none !important;
    background-color: white !important;
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content:space-between;
    align-items:flex-start;
}
@media (max-width: 560px) {
    .divImgDettaglio {
        height: 200px !important;
    }
}
@media (max-width: 350px) {
    .divImgDettaglio {
        height: 100px !important;
    }
}
.imgDettaglio {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/*TITOLO DETTAGLIO*/
.titoloDettaglioHome {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
   
}
/*Brani dettaglio*/
.BraniDettaglio{
    text-size-adjust: .1;
}

.verde{
    color: green;
}

.rosso{
    color: red;
}

.imgDettaglioAlbum {
   width: 100%;
   height: auto;
   object-fit: cover; 
   aspect-ratio: 1 / 1;

}

