<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>E-commerce ufficiale di Claudio Baglioni</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Parisienne&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <!--NAVBAR-->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
            <div class="container-fluid elementiNav">
              <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto me-4">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="homepage.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-secondary active" href="bio.html">Bio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-secondary" href="catalogo.html">Catalogo</a>
                  </li>
                  <li class="nav-item">
                    <a class="icon-link text-secondary active" href="login.html">
                      <i class='far fa-user-circle'></i>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="icon-link text-secondary" href="carrello.html">
                      <i class='fas fa-shopping-bag'></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
        <!--IMG-->
        <div class="text-bg-dark divImgBio">
          <img src="img/baglioniPagBio.png" class="imgBio img-fluid" alt="Baglioni Bio">
      </div>
        <!--BIO-->
        <div class="divBio">
            <div class="descrizioneBio">
                <h4><b>Biografia</b></h4>
            </div>
            <div class="paragrafoBio">
              <p>Claudio Baglioni è nato il 16 maggio 1951 a Roma, Italia. Fin da giovane ha dimostrato una forte inclinazione per la musica, apprendendo a suonare la chitarra da autodidatta e iniziando a comporre canzoni.
                Ha debuttato nel mondo della musica negli anni '70, quando ha vinto il concorso musicale "Un disco per l'estate" con la canzone "Un po' di più". Il suo primo album, "Claudio Baglioni",
                è stato pubblicato nel 1970. Tuttavia, è con l'album successivo, "Questo piccolo grande amore" (1972),
                che ha ottenuto un grande successo, contribuendo a definire il suo stile unico nel panorama della canzone d'autore italiana. L'album conteneva la celebre canzone omonima, che divenne un classico della musica italiana. Nel corso della sua carriera,
                Claudio Baglioni ha pubblicato numerosi album di successo,
                tra cui "E tu..." (1974), "Sabato pomeriggio" (1975), e "Strada facendo" (1981).
              </p>
            </div>
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-4">
                  <img src="img/galleryBio1.png" alt="Baglioni Bio" class="img-fluid">
                </div>
                <div class="col-sm-4">
                  <img src="img/galleryBio2.jpg" alt="Baglioni Bio" class="img-fluid">
                </div>
                <div class="col-sm-4">
                  <img src="img/galleryBio3.jpg" alt="Baglioni Bio" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="paragrafoBio">
            <p>Le sue canzoni spesso affrontano temi romantici, sociali e politici, dimostrando una profonda sensibilità artistica. Oltre alla sua carriera musicale, Baglioni ha sperimentato il mondo della recitazione, partecipando a film e spettacoli televisivi.
                Nel 1999 è stato anche conduttore del Festival di Sanremo, consolidando ulteriormente la sua presenza nell'intrattenimento italiano. Nel corso degli anni, Claudio Baglioni ha continuato a rinnovarsi, esplorando nuovi generi musicali e collaborando con altri artisti.
                La sua musica è rimasta popolare nel tempo, guadagnandosi il rispetto sia del pubblico che della critica. La sua influenza nella musica italiana è stata enorme, e Claudio Baglioni è considerato uno dei più grandi cantautori del paese. La sua carriera di successo,
                la sua voce distintiva e la sua capacità di toccare il cuore delle persone attraverso la musica lo rendono un'icona della cultura musicale italiana.</p>
            </div>
          

        </div>
        
        <!-- FOOTER -->
        <footer class="text-center text-white bgFooterHome">
            <!-- Grid container -->
            <div class="container">
             
              <!-- Section: Links -->
        
              <hr class="my-4" />
        
              <!-- Section: Text -->
              <section class="mb-5">
                <div class="row d-flex justify-content-center">
                  <div class="col-lg-8">
                    <p>Contatti</p>
                    <p>contattobaglioni@baglioni.it</p>
                  </div>
                </div>
              </section>
              <!-- Section: Text -->
        
              <!-- Section: Social -->
              <section class="text-center mb-5">
                <div class="divFooter">
                    <a href="https://www.facebook.com/claudiobaglioniofficial/" class="text-white me-4">
                    <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://twitter.com/claudiobaglioni" class="text-white me-4">
                    <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://www.instagram.com/claudiobaglioniofficial/" class="text-white me-4">
                    <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://www.youtube.com/user/claudiobaglionitv" class="text-white me-4">
                    <i class="fab fa-youtube"></i>
                    </a>
                </div>
              </section>
              <!-- Section: Social -->
            </div>
            <!-- Grid container -->
        
            <!-- Copyright -->
            <div class="text-center p-3">
              <p><small>© 2024 Copyright:</small></p>
              <p class="text-white"><small>Projecy Work Baglioni</small></p>
            </div>
            <!-- Copyright -->
          </footer>
          <!-- Footer -->
        




        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/458a2c3652.js" crossorigin="anonymous"></script>
        <script src="js/script.js" async defer></script>
    </body>    
</html>