<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="'Dettaglio Album'"></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	</head>
	<body>
			<!--NAVBAR-->
		    <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
		        <div class="container-fluid elementiNav">
		
		            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
		                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		                <span class="navbar-toggler-icon"></span>
		            </button>
		
		            <div class="collapse navbar-collapse" id="navbarNav">
		                <ul class="navbar-nav ms-auto me-4">
		
		                    <li class="nav-item">
		                        <a class="nav-link text-secondary" aria-current="page" th:href="@{/}">Home</a>
		                    </li>
		
		                    <li class="nav-item">
		                        <a class="nav-link text-secondary" th:href="@{/bio}">Bio</a>
		                    </li>
		
		                    <li class="nav-item">
		                        <a class="nav-link text-secondary" th:href="@{/catalogo}">Catalogo</a>
		                    </li>
		
		                    <li class="nav-item">
		                        <a class="icon-link text-secondary" th:href="@{/login}">
		                            <i class='far fa-user-circle'></i>
		                        </a>
		                    </li>
		
		                    <li class="nav-item">
		                        <a class="icon-link text-secondary" th:href="@{/carrello}">
		                            <i class='fas fa-shopping-bag'></i>
		                        </a>
		                    </li>
		
		                </ul>
		            </div>
		        </div>
		     </nav>
		
		    <!--IMG DETTAGLIO-->
		    <div class="text-bg-dark divImgDettaglio">
		        <img src="img/Claudio-BaglioniDettaglio.jpg" class="imgDettaglio img-fluid" alt="Baglioni Dettaglio">
		    </div>
		    <br>
		    
		    <!--BLOCCO DETTAGLIO-->
		    <div class="container mt-6">
		        <div class="row">
		            <!-- Immagine dell'album -->
		            <div class="col-md-4">
		                <div class="text-bg-dark divImgDettaglioAlbum">
		                    <img th:if="${album.copertina == null}" th:src="@{'img/album_' + ${album.id} + '.jpg'}" class="imgDettaglioAlbum img-fluid" alt="Baglioni Dettaglio">
		                </div>
		            </div>
		
		            <!-- Titolo, Anno di pubblicazione, Descrizione -->
		            <div class="col-md-6">
		                <h2 th:text="'Titolo: ' + ${album.titolo}" class="mb-3"></h2>
		                <p th:text="'Prezzo: €' + ${album.prezzo}"></p> 
		                 <br>
		                 <b th:text="'Tipologia: ' + ${album.tipologia}"></b>
		                
		                <p th:text="'Anno: ' + ${album.anno}" class="text-muted"></p>
		                <p th:text="'Descrizione: ' + ${album.descrizione}" class="text-muted"></p>
		                <!-- Brani -->
		                <p class="mt-4">Brani Inclusi:</p>
		                <div class="NomiBrani">
		                    <ul th:each="brano : ${dettagli}">
		                        <li th:text="${brano.brano}"></li>
		                        <li th:text="${brano.durata}"></li>
		                    </ul>
		                </div>
		                <div>
			                <p th:text="'Pezzi disponibili: '  + ${album.quantita}" class="verde"></p>
			                <p class="rosso">Esaurito</p>
			                <!-- Bottone Aggiunta al Carrello -->    
			                <a th:href="@{/carrello/aggiungi(id=${album.id})}" role="button" class="btn btn-outline-dark">
			                  <i class='fas fa-shopping-bag' style="font-size: 23px"></i>
			                </a>
		              	</div>
		           </div>
		        </div>
		    </div>
			
			<!-- FOOTER -->
		    <footer class="text-center text-white bgFooterHome">
		        <!-- Grid container -->
		        <div class="container">
		
		
		            <hr class="my-4" />
		
		            <!-- Section: Text -->
		            <section class="mb-5">
		                <div class="row d-flex justify-content-center">
		                    <div class="col-lg-8">
		                        <p>Contatti</p>
		                        <p>contattobaglioni@baglioni.it</p>
		                    </div>
		                </div>
		            </section>
		            <!-- Section: Text -->
		
		            <!-- Section: Social -->
		            <section class="text-center mb-5">
		                <div class="divFooter">
		                    <a href="https://www.facebook.com/claudiobaglioniofficial/" class="text-white me-4">
		                        <i class="fab fa-facebook-f"></i>
		                    </a>
		                    <a href="https://twitter.com/claudiobaglioni" class="text-white me-4">
		                        <i class="fab fa-twitter"></i>
		                    </a>
		                    <a href="https://www.instagram.com/claudiobaglioniofficial/" class="text-white me-4">
		                        <i class="fab fa-instagram"></i>
		                    </a>
		                    <a href="https://www.youtube.com/user/claudiobaglionitv" class="text-white me-4">
		                        <i class="fab fa-youtube"></i>
		                    </a>
		                </div>
		            </section>
		            <!-- Section: Social -->
		        </div>
		        <!-- Grid container -->
		
		        <!-- Copyright -->
		        <div class="text-center p-3">
		            <p><small>© 2024 Copyright:</small></p>
		            <p class="text-white"><small>Project Work Baglioni</small></p>
		        </div>
		        <!-- Copyright -->
		    </footer>
		    <!-- Footer -->
		
		
		
		
		
		    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		        crossorigin="anonymous"></script>
		    <script src="https://kit.fontawesome.com/458a2c3652.js" crossorigin="anonymous"></script>
		    <script src="js/script.js" async defer></script>
		</body>

</html>