<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>E-commerce ufficiale di Claudio Baglioni</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Parisienne&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <!--NAVBAR-->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
            <div class="container-fluid elementiNav">
              <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto me-4">
                  <li class="nav-item">
                    <a th:href="@{/}" class="nav-link active" aria-current="page">Home</a>
                  </li>
                  <li class="nav-item">
                    <a th:href="@{/bio}" class="nav-link text-secondary">Bio</a>
                  </li>
                  <li class="nav-item">
                    <a th:href="@{/catalogo}" class="nav-link text-secondary">Catalogo</a>
                  </li>
                  <li class="nav-item">
                    <a th:href="@{/login}" class="icon-link text-secondary">
                      <i class='far fa-user-circle'></i>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a th:href="@{/carrello}" class="icon-link text-secondary">
                      <i class='fas fa-shopping-bag'></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
        <!--IMG-->
        <div class="card text-bg-dark imgHome">
            <img src="img/baglioniHome.jpg" class="card-img" alt="Baglioni Home">
            <div class="card-img-overlay centered">
                <p class="card-text"><small>So long,</small></p>
                <h5 class="card-title">Claudio</h5>
            </div>
        </div>
        <!--CATALOGO-->
        <div class="catalogoHome mx-5">
            <div class="titoloCatalogoHome">
                <h4>Catalogo</h4>
            </div>
            <div class="row row-cols-auto gy-4 gx-4">
                <div class="col col-md-4 col-sm">
                      <div class="card flex-fill h-100 cardHover">
                              <img src="img/eTuHomePage.jpeg" class="card-img-top" alt="E tu...">
                              <div class="card-body">
                                  <h5 class="card-title prodotti">E tu...</h5>
                                  <p class="card-text prodotti">Il quinto album di Claudio Baglioni, pubblicato nel 1974.</p>
                                  <p class="card-text prodotti">€45,54</p>
                              </div>
                              <a href="dettaglio?id=30" class="stretched-link"></a>
                      </div>
                </div>
                <div class="col col-md-4 col-sm">
                    <div class="card flex-fill h-100 cardHover">
                      <img src="img/ioSonoQuiHomePage.jpeg" class="card-img-top" alt="Io sono qui">
                      <div class="card-body">
                        <h5 class="card-title prodotti">Io sono qui</h5>
                        <p class="card-text prodotti">Io sono qui è un album di Claudio Baglioni, pubblicato nel 1995.</p>
                        <p class="card-text prodotti">€45,54</p>
                            </div>
                      <a href="dettaglio?id=20" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col col-md-4 col-sm">
                    <div class="card flex-fill h-100 cardHover">
                            <img src="img/tuttiQuiHomePage.jpeg" class="card-img-top" alt="Tutti qui">
                            <div class="card-body">
                                <h5 class="card-title prodotti">Tutti qui</h5>
                                <p class="card-text prodotti">Tutti qui è una raccolta di Claudio Baglioni pubblicata nel 2005.</p>
                                <p class="card-text prodotti">€45,54</p>
                            </div>
                            <a href="dettaglio?id=11" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="btnCatHome">
                <a href="catalogo" role="button" class="btn btn-outline-dark">Scopri il catalogo</a>
            </div>
        </div>
        <!-- BIO-->
        <div class="container-fluid custom-bg">
            <div class="row gy-4 gx-4">
                <div class="col-md-4 text-center d-flex flex-column align-items-center justify-content-center">
                    <h5>“A volte più che di un mondo nuovo, c'è bisogno di occhi nuovi per guardare il mondo.”</h5>
                    <a href="bio" role="button" class="btn btn-dark btnBioHome">Scopri la bio</a>
                </div>
                <div class="col-md-4 text-center">
                    <img src="img/baglioniBio1.jpg" class="custom-img" alt="Baglioni Bio">
                </div>
                <div class="col-md-4 text-right">
                    <img src="img/baglioniBio2.jpg" class="custom-img" alt="Baglioni Bio">
                </div>
            </div>
        </div>
        <!--GALLERY-->
        <div class="galleryHome mx-5 my-5">
            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                    <img src="img/gallery1.jpg" class="w-100 shadow-1-strong rounded mb-4"
                        alt="Boat on Calm Water">
                    <img src="img/gallery4.png" class="w-100 shadow-1-strong rounded mb-4" alt="Wintry Mountain Landscape">
                </div>
                <div class="col-lg-4 mb-4 mb-lg-0">
                    <img src="img/gallery5.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Mountains in the Clouds">
                    <img src="img/gallery2.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water">
                </div>
                <div class="col-lg-4 mb-4 mb-lg-0">
                    <img src="img/gallery3.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea">
                    <img src="img/gallery6.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Yosemite National Park">
                </div>
            </div>
        </div>
        <!-- FOOTER -->
        <footer class="text-center text-white bgFooterHome">
            <!-- Grid container -->
            <div class="container">
            
              <hr class="my-4" />
        
              <!-- Section: Text -->
              <section class="mb-5">
                <div class="row d-flex justify-content-center">
                  <div class="col-lg-8">
                    <p>Contatti</p>
                    <p>contattobaglioni@baglioni.it</p>
                  </div>
                </div>
              </section>
              <!-- Section: Text -->
        
              <!-- Section: Social -->
              <section class="text-center mb-5">
                <div class="divFooter">
                    <a href="https://www.facebook.com/claudiobaglioniofficial/" class="text-white me-4">
                    <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://twitter.com/claudiobaglioni" class="text-white me-4">
                    <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://www.instagram.com/claudiobaglioniofficial/" class="text-white me-4">
                    <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://www.youtube.com/user/claudiobaglionitv" class="text-white me-4">
                    <i class="fab fa-youtube"></i>
                    </a>
                </div>
              </section>
              <!-- Section: Social -->
            </div>
            <!-- Grid container -->
        
            <!-- Copyright -->
            <div class="text-center p-3">
              <p><small>© 2024 Copyright:</small></p>
              <p class="text-white"><small>Project Work Baglioni</small></p>
            </div>
            <!-- Copyright -->
          </footer>
          <!-- Footer -->
        




        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/458a2c3652.js" crossorigin="anonymous"></script>
        <script src="js/script.js" async defer></script>
    </body>    
</html>